@import "tailwindcss";

.showScroll::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ff4000;
  border-radius: 10px;
}

@theme inline {
  --color-myRed: #ff4000;
  --color-myDarkBlue: #10151f;
  --color-myDarkBlue2: #3e424a;
  --color-myDarkGrey: #212b36;
  --color-myGrey2: #e1dfe1;
  --color-myGrey: #f8f6f7;
  --color-myGreen: #318a1d;

  --font-poppins: var(--font-poppins), sans-serif;
}
